<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="webBrowsers" 
             type="BrowserChoice.WebBrowsersConfiguration, BrowserChoice, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <webBrowsers>
    <webBrowser title="Work" path="C:\Program Files (x86)\Google\Chrome\Application\chrome.exe" />
    <webBrowser title="Personal" path="C:\Program Files (x86)\Firefox Developer Edition\firefox.exe" />
  </webBrowsers>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>